body{
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    background-color: white;

}

h1,h3{
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
}

.header{
    /* background-color: #DFDFDF; */
}

.footer{
    background-color: #333333;
    color: white;
    text-align: center;
}

table.dataTable {
    color: #337AB7;
    "row-border": false;
    "cell-border": false;

}

table.dataTable th {
    color: #333333;
}
/*
table.dataTable th { background-color: orange; }
*/


.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #236FC3;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


.margin_search {
    margin-top: 1%;
}

.margin_info {
    margin-top: 1%;
}


.session_wrapper{
    border: 0;
}

.btn{
    border: 0px;
}

.login_wrapper {
     margin-top: 10%;
}

.login_body {
    background-color: #bababa;
}

.link_center {
    text-align: center;
}


#barraaceptacion {
    display:none;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
}

.inner {
    width:100%;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
}

.inner a.ok {
    padding:4px;
    color:#00ff2e;
    text-decoration:none;
}

.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color:#faff00;
}

a {
    text-decoration: none !important;
}


.align_right{
    text-align: right;
}
/*
table.dataTable tr.even{ background-color: whitesmoke;}*/


/*
table.dataTable tr.odd { background-color: #F7985D; }
table.dataTable tr.even{ background-color: whitesmoke;} */